.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.logo-mid {
    width:90%;

}

.btn-save-the-date {
    /*background-color: #c73a5d;*/
    background-color: #c73a5d;
}

.btn-primary:hover {
    background-color: #537090;
}

.btn-lg {

}