.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.logo-mid {
    width:20%;
}

a {
    text-decoration: none;
}

a:hover h4{
    color: #c73a5d;
}

h2 {
    color: #537090;
    font-family: 'Courier New', Courier, monospace; 
}

h4 {
    color: #537090;
    font-family: 'Courier New', Courier, monospace;
}

.mensagem h5{
    color: white !important;
}

h5 {
    color: #537090;
    font-family: 'Courier New', Courier, monospace;
}

.kikaluis {
    width: 50%;
}

.img-divisoes {
    width: 100%;
    width: 300px;
    height: 300px;
}

.img-lua-de-mel {
    width: 80%;
}

.btn-primary {
    background-color: #537090;
    border: 0ch;
}

.btn-primary:hover {
    background-color: #c73a5d;
}

@media only screen and (max-width: 600px) {
    .logo-mid {
        /* margin-top: 50%; */
        margin-bottom: 5%;
        width: 100%;
    }

}

.nomes {
    width: 42%;
}

.countdown {
    color: #537090;
    font-size: 2.0rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.time-labels {
    color: #537090;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.img-onde-ficar {
    width: 12%;
}

.back {
    width: 30%;
}

.h7{
    margin-left: 30%;
    margin-right: 30%;
    font-size:800%;
}

.mensagem a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.icons {
    width: 64px;
}

.text-locations {
    color: #537090;
    font-family: 'Courier New', Courier, monospace;
}

.text-locations-static {
    color: #537090;
    font-family: 'Courier New', Courier, monospace;
}

.text-locations:hover {
    color: #c73a5d;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #537090;
    font-family: 'Courier New', Courier, monospace;
}

.about-us {
    padding: 5%;
}

.imagens-l-m {
    /* Define the fixed height for the images */
    height: 500px; /* Adjust height as needed */
    overflow: hidden; /* Hide any overflow */
}

.imagens-l-m img {
    width: 100%; /* Make image fit container width */
    height: 100%; /* Make image fit container height */
    object-fit: scale-down; /* Cover the container while maintaining aspect ratio */
}

.img-casamento {
}

.img-tuktuk {
    width: 80%;
}

@media (max-width: 767px) {
    .logo-wrap {
        /* margin-top: -40%; */
    }

    .logo-mid {
        width: 62%;
    }

    .kikaluis {
        width: 70%;
    }

    .nomes {
        width: 50%;
    }

    .img-onde-ficar{
        width: 30%;
    }
}

@media (max-width: 430px) {
    .navigation {
      font-size: 18px; /* Reduce font size for small screens */
    }

    .col-1 {
      display: none; /* Hide extra columns on very small screens */
    }
  }